[submodule "FEM"]
	path = FEM
	url = https://github.com/TheoChristo/FEM.git
[submodule "Constitutive"]
	path = Constitutive
	url = https://github.com/TheoChristo/Constitutive.git
[submodule "NumericalAnalyzers"]
	path = NumericalAnalyzers
	url = https://github.com/mgroupntua/NumericalAnalyzers.git
